<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/security
		    http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http>
        <security:intercept-url pattern="/**/*.jpg" access="permitAll"/>
        <security:intercept-url pattern="/**/*.png" access="permitAll"/>
        <security:intercept-url pattern="/**/*.gif" access="permitAll"/>
        <security:intercept-url pattern="/**/*.css" access="permitAll"/>
        <security:intercept-url pattern="/**/*.js" access="permitAll"/>

        <security:intercept-url pattern="/common/401.jsp" access="permitAll"/>
        <security:intercept-url pattern="/common/403.jsp" access="permitAll"/>
        <security:intercept-url pattern="/common/404.jsp" access="permitAll"/>
        <security:intercept-url pattern="/common/500.jsp" access="permitAll"/>
        <!-- cms 相关不过滤 -->
        <security:intercept-url pattern="/cms/**" access="permitAll"/>
    </security:http>
</beans>